
:root {
  --btnbg: #05BE50;
  --btnColor: #fff;
  --titlesColor: #0039A6;
  --menuColor: #1C1B1B;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
  } 
  a {
  text-decoration: none; 
  }
  
  /* .container {
    width: 50%;
    margin: 5% 50%;
    padding: 5% 80%;
    position: absolute;
    top:5%;
  } */
  .title__section {
    color: var(--titlesColor);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
  }