.menu {
  list-style-type: none;
  margin: 0px 10px 10px 10px;
  padding: 0;
  width: 25%;
  background-color: var(--menuColor);
  color: var(--btnColor);
  position: fixed;
  /* position: relative; */
  height: 100%;
  overflow: auto;
}

.menu__item {
  display: block;
  color: var(--btnColor);
  font-size: 24px;
  padding: 18px 16px;
  text-decoration: none;
  margin: 65px 2px;
}

.menu__item.active {
  /* background-color: #999e9c; */
  color: white;
}

.menu__item:hover:not(.active) {
  /* background-color: #555; */
  color: white;
}