.phone__profile {
    width: 90px;
    height: 60px;
    border-radius: 50%;
    padding-right: 10px;
    position: relative;
}

/**/
/* .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius:50%;
    overflow: hidden;
}

.text-muted{
color:rgb(16, 19, 19);
} */

.logoImg{
    width: 310px;
    object-fit: cover;
}
.title_navBar {
    color: var(--titlesColor);
    padding-left: 50px;
}
.subtitle_navBar {
    color: var(--titlesColor);
    padding: 10px 30px;
    margin-right: 150px;
}

.sub_navBar  {
    display: flex;
}

.icon_notification {
    padding: 2% 50%;
    /* padding-left: 50%; */
    /* position: absolute; */
    /* top: 40px; */
}
@media (max-width: 525px) {
    .sub_navBar {
        display: flex;
        flex-direction: center;
        font-size: 15px;
        margin:auto;


    }
    .phone__profile {
        width: 90px;
        height: 90px;
        padding-right: 5px;
    }
    .title_navBar {
        padding: 0px;
    }
}