.phone__profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding-right: 10px;
    position: relative;
}

.logoImg{
    width: 310px;
    object-fit: cover;
}
.title_navBar {
    color: var(--titlesColor);
    padding-left: 50px;
}
.subtitle_navBar {
    color: var(--titlesColor);
    padding: 10px 30px;
}

.sub_navBar  {
    display: flex;
}

.icon_notification {
    padding: 2% 50%;
    /* padding-left: 50%; */
    /* position: absolute; */
    /* top: 40px; */
}
@media (max-width: 525px) {
    .sub_navBar {
        display: flex;
        flex-direction: row-reverse;
    }
    .phone__profile {
        width: 90px;
        height: 90px;
        padding-right: 5px;
    }
    .title_navBar {
        padding: 0px;
    }
}