.item__assigned {
    margin: 20px;
    padding-left: 35px;
}

.item__assigned--link {
    margin: 2% 15%;
}
.icon__assigned {
    margin: 1% 22%;
}

.list__assigned {
display: flex;
flex-direction:row;
justify-content: space-between;
}
.btn__process--assigned {
    width: 250%;
    background-color: #05BE50;
    color: #fff;
    border: none;
    border-radius: 25px;
}