.containerProfile{
    display: flex;
    justify-content: center;
}

.form-profile{
    width: 80%;
}

.fotoPerfil{
    border-radius: 50%;
}
.btn-profile{
    color:var(--btnbg) !important;
    border: 1px solid var(--btnbg) !important;
}