.item__assigned {
    margin: 10px;
    padding-left: 5px;
}

.item__assigned--link {
    margin: 2% 1%;
}

.contaner__list {
    width: 80%;
}
.list__assigned {
display: flex;
flex-direction:row;
justify-content: space-between;
}
.btn__process--assigned {
    width: 250%;
    background-color: #05BE50;
    color: #fff;
    border: none;
    margin-top: 12%;
    padding: 3px;
    border-radius: 25px;
}