.btn__search {
    padding: 1%;
    border: none;
}

.btn__process{
    width: 20%;
    background-color: #05BE50;
    color: #fff;
    padding: 1%;
    border: none;
    border-radius: 25px;
}
 
.card__process{
    margin: 22px 0%;
    width: 62%;



}
.input__search {
    width: 62%;
   
}
.header__card {
    display: flex;
    justify-content: space-between;
}

/* .icon__assigned {
    margin: 128px;
} */
.icon{
    margin: 128px;
 
}