.btn__search {
    background-color: var(--btnbg);
    color: var(--btnColor);
    padding: 1%;
    border: none;
}
.container-process{
    width: 100%;
}
.btn__process{
    width: 20%;
    margin-left: 72%;
    background-color: #05BE50;
    color: #fff;
    padding: 1%;
    border: none;
    border-radius: 5px;
}

.card__process{
    margin: 2% 0%;
    width: 150px;
}
.input__search {
    width: 80%; 
    margin-right:3px;
    padding:5px 20px;
}
.header__card {
    display: flex;
    justify-content: space-between;
    padding: 2px 2px 10px 1px;
}

.icon__assigned {
    margin: 8px;
}
